@mixin description-header {
    font-size: 42px;
    line-height: 60px;
    font-weight: 400;
    color: #1E2046;
}

@mixin description {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: #1E2046;
}

@mixin solution-way-style{
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: #1E2046;
}

@mixin feedback-style {
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    color: #1E2046;
}

@mixin bottom-navigation-desc-style {
    font-size: 18px;
    line-height: 42px;
    font-weight: 400;
    color: #1E2046;
}