@import "./fonts";
@import "./mixin";

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1920px;
}

.container > section {
    width: 1485px;
    margin-left: 150px;
}

#logo {
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}

#menu-bar {
    margin-left: 360px;
    margin-top: 30px;
    float: left;
}

#pricing-btn {
    box-sizing: border-box;
    background: linear-gradient(to right, #d6fefb, #fcf2eb);
    width: 175px;
    height: 41px;
    margin-left: 268px;
    font-size: 16px;
    padding: 9px 28.2px 11px 34.8px;
    outline: none;
    border: none;
    transition: 0.1s;
    cursor: pointer;
}

#pricing-btn:hover {
    transition: ease-in;
    background: linear-gradient(to right, #92e7e2, #f8ddc9);
}

#menu-bar a {
    margin-right: 40px;
    float: left;
}

a:nth-child(1) {
    color: #fb7b58;
}

#header-content {
    margin-right: 74.2px;
    margin-top: 273px;
    float: left;
}

#title {
    font-size: 62px;
    width: 500px;
    margin-bottom: 15px;
    float: left;
    font-weight: normal;
    float: left;
}

#content {
    width: 500px;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 35.5px;
}

#contact-btn {
    box-sizing: border-box;
    background: linear-gradient(to right, #d6fefb, #fcf2eb);
    width: 200px;
    height: 50px;
    font-size: 16px;
    padding: 9px 28.2px 11px 30px;
    outline: none;
    border: none;
    transition: 0.1s;
    cursor: pointer;
}

#contact-btn:hover {
    transition: ease-in;
    background: linear-gradient(to right, #92e7e2, #f8ddc9);
}

#vector-img > img {
    float: left;
    width: 800px;
    height: 644px;
    margin-bottom: 100px;
    margin-top: 83px;
}

#mark-img > img {
    margin-left: 100px;
}

.our-goals{
    margin: 249px auto 0;
    width: 1300px;
    height: 1394px;
    & .top-part, .bottom-part{
        width: 100%;
        height: 774px;
        display: flex;
        justify-content: space-between;
        & .pictures{
            width: 294px;

            & #customer{
                transform: translate(-151px,-130px);
            }
            & #diagram{
                transform: translate(257px,-618px);
        }
        }

    & .info-part{
        width: 480px;
        & h1{
            margin-top: 45px;
            @include description-header;
        }
        & p{
            @include description;
        }
    }
}
& .bottom-part{
    & .pictures{
        width: 804px;
    }
    & .info-part{
        & h1{
            margin-top: 118px;
        }
    }
}
}

.services{
    margin: 81.4px 310px 0 0;
    width: 1610px;
    height: 1481px;
    background-image: url(../image/VSO.svg);
    background-position: -500px -80px;
    .service-info{
        height: 100%;
        width: 1300px;
        margin-left: 310px;
        text-align: center;
        & h1{
            margin-top: 157px;
            @include description-header;
        }
        & a{
            margin-top: 34.1px;
            color: #75BEEB;
            font-size: 18px;
            line-height: 60px;
            font-weight: 400;
        }
        & .cards, .bottom-cards{
            width: 1300px;
            display: flex;
            justify-content: space-between;
            & .card{
                width: 265px;
                height: 300px;
                background-color: #FFFFFF;
                border-radius: 20px;
                padding: 42.3px 43.5px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                & h4{
                    text-align: left;
                    @include solution-way-style;
                }
            }
        }
        & .bottom-cards{
            width: 955px;
            margin: 85px 0 0 173px;
        }
    }
}

.testimonials{
    margin: -137.84px 0 0 196px;
    width: 1528px;
    height: 669.34px;
    text-align: center;
    & h5{
        @include description-header;
    }
    & img{
        margin-top: 54.3px;
    }
    &>p{
        margin-top: -77px;
        @include feedback-style;
    }
    & .customer-info{
        & h5{
            font-size: 30px;
            line-height: 38px;
            font-weight: 400;
            color: #1E2046;
            margin-top: 60px;
        }
        p{
            font-size: 18px;
            line-height: 38px;
            font-weight: 300;
            color: #1E2046;
            opacity: 0.7;
        }
    }
    & [alt="girl"]{
        transform: translate(-212px,-591.7px);
    }
    & [alt="man-sunglasses"]{
        transform: translate(-451px,-411px);
    }
    & [alt="girl-sunglasses"]{
        transform: translate(595px,-404px);
    }
    & [alt="man-hat"]{
        transform: translate(475px,-652px);
    }
    & [alt="main-in-suit"]{
        transform: translate(262px,-314px);
    }
}
