@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1920px;
}

.container > section {
  width: 1485px;
  margin-left: 150px;
}

#logo {
  float: left;
  margin-top: 30px;
  margin-left: 50px;
}

#menu-bar {
  margin-left: 360px;
  margin-top: 30px;
  float: left;
}

#pricing-btn {
  box-sizing: border-box;
  background: linear-gradient(to right, #d6fefb, #fcf2eb);
  width: 175px;
  height: 41px;
  margin-left: 268px;
  font-size: 16px;
  padding: 9px 28.2px 11px 34.8px;
  outline: none;
  border: none;
  transition: 0.1s;
  cursor: pointer;
}

#pricing-btn:hover {
  transition: ease-in;
  background: linear-gradient(to right, #92e7e2, #f8ddc9);
}

#menu-bar a {
  margin-right: 40px;
  float: left;
}

a:nth-child(1) {
  color: #fb7b58;
}

#header-content {
  margin-right: 74.2px;
  margin-top: 273px;
  float: left;
}

#title {
  font-size: 62px;
  width: 500px;
  margin-bottom: 15px;
  float: left;
  font-weight: normal;
  float: left;
}

#content {
  width: 500px;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 35.5px;
}

#contact-btn {
  box-sizing: border-box;
  background: linear-gradient(to right, #d6fefb, #fcf2eb);
  width: 200px;
  height: 50px;
  font-size: 16px;
  padding: 9px 28.2px 11px 30px;
  outline: none;
  border: none;
  transition: 0.1s;
  cursor: pointer;
}

#contact-btn:hover {
  transition: ease-in;
  background: linear-gradient(to right, #92e7e2, #f8ddc9);
}

#vector-img > img {
  float: left;
  width: 800px;
  height: 644px;
  margin-bottom: 100px;
  margin-top: 83px;
}

#mark-img > img {
  margin-left: 100px;
  
.our-goals {
  margin: 249px auto 0;
  width: 1300px;
  height: 1394px;
}

.our-goals .top-part, .our-goals .bottom-part {
  width: 100%;
  height: 774px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-goals .top-part .pictures, .our-goals .bottom-part .pictures {
  width: 294px;
}

.our-goals .top-part .pictures #customer, .our-goals .bottom-part .pictures #customer {
  -webkit-transform: translate(-151px, -130px);
          transform: translate(-151px, -130px);
}

.our-goals .top-part .pictures #diagram, .our-goals .bottom-part .pictures #diagram {
  -webkit-transform: translate(257px, -618px);
          transform: translate(257px, -618px);
}

.our-goals .top-part .info-part, .our-goals .bottom-part .info-part {
  width: 480px;
}

.our-goals .top-part .info-part h1, .our-goals .bottom-part .info-part h1 {
  margin-top: 45px;
  font-size: 42px;
  line-height: 60px;
  font-weight: 400;
  color: #1E2046;
}

.our-goals .top-part .info-part p, .our-goals .bottom-part .info-part p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  color: #1E2046;
}

.our-goals .bottom-part .pictures {
  width: 804px;
}

.our-goals .bottom-part .info-part h1 {
  margin-top: 118px;
}

.services {
  margin: 81.4px 310px 0 0;
  width: 1610px;
  height: 1481px;
  background-image: url(../image/VSO.svg);
  background-position: -500px -80px;
}

.services .service-info {
  height: 100%;
  width: 1300px;
  margin-left: 310px;
  text-align: center;
}

.services .service-info h1 {
  margin-top: 157px;
  font-size: 42px;
  line-height: 60px;
  font-weight: 400;
  color: #1E2046;
}

.services .service-info a {
  margin-top: 34.1px;
  color: #75BEEB;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
}

.services .service-info .cards, .services .service-info .bottom-cards {
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .service-info .cards .card, .services .service-info .bottom-cards .card {
  width: 265px;
  height: 300px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 42.3px 43.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services .service-info .cards .card h4, .services .service-info .bottom-cards .card h4 {
  text-align: left;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  color: #1E2046;
}

.services .service-info .bottom-cards {
  width: 955px;
  margin: 85px 0 0 173px;
}

.testimonials {
  margin: -137.84px 0 0 196px;
  width: 1528px;
  height: 669.34px;
  text-align: center;
}

.testimonials h5 {
  font-size: 42px;
  line-height: 60px;
  font-weight: 400;
  color: #1E2046;
}

.testimonials img {
  margin-top: 54.3px;
}

.testimonials > p {
  margin-top: -77px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  color: #1E2046;
}

.testimonials .customer-info h5 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
  color: #1E2046;
  margin-top: 60px;
}

.testimonials .customer-info p {
  font-size: 18px;
  line-height: 38px;
  font-weight: 300;
  color: #1E2046;
  opacity: 0.7;
}

.testimonials [alt="girl"] {
  -webkit-transform: translate(-212px, -591.7px);
          transform: translate(-212px, -591.7px);
}

.testimonials [alt="man-sunglasses"] {
  -webkit-transform: translate(-451px, -411px);
          transform: translate(-451px, -411px);
}

.testimonials [alt="girl-sunglasses"] {
  -webkit-transform: translate(595px, -404px);
          transform: translate(595px, -404px);
}

.testimonials [alt="man-hat"] {
  -webkit-transform: translate(475px, -652px);
          transform: translate(475px, -652px);
}

.testimonials [alt="main-in-suit"] {
  -webkit-transform: translate(262px, -314px);
          transform: translate(262px, -314px);
}